<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cardify</title>
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/cardify.css">

</head>
<body>
  <section>
    <div class="container cont-section">
      <div id="ejemplos">
        <h5>Ejemplos</h5>
      </div>
    </div>
    <div class="row">
      <div class="col m10 offset-m1 col s10 offset-s1">
        <h5 style="border-bottom: 1px solid #ddd;padding-bottom: 10px;">Cardify - jQuery Examples</h5>
        <ul style="margin-top: 20px">
          <li>
            <h6>
              <a href="https://Jennifercarmen.github.io/cardify"> Sitio Oficial </a>
            </h6>
          </li>
          <li>
            <h6>
              <a href="http://github.com/Jennifercarmen/cardify">Github</a>
            </h6>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col m10 col s10 offset-m1 offset-s1">
        <h5>Example #1:Imagenes alineadas verticalmente</h5>
        <h6>
          Imagenes con Figure y figcaption
        </h6>
        <div class="row" style="margin-top:10px;">
          <div class="col m6 offset-m3 col s12">
            <h6 class="bold">jQuery</h6>

            <pre class="language-javascript">
                        <p>     $('.container-cardify').pluss();
                        </p>
                        </pre>
          </div>
        </div>
        <div class="row">
          <div class="col s4 col m3  offset-m5 center-align">
            <div class="container-cardify">
              <img src="../assets//images/img1.jpg" alt="Playa de los muertos-España">
              <img src="../assets//images/img2.jpg" alt="Playa del Carmen-Mexico">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m12  col s12 center-align">
            <button class="btn btn-primary" id="startvertical">
              Start
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m10 offset-m1 offset-s1">
        <h5>Example #2:Imagenes alineadas horizontalmente</h5>
        <h6>
          Imagenes con Figure y figcaption
        </h6>
        <div class="row" style="margin-top:10px;">
          <div class="col m6 offset-m3 col s12 ">
            <h6 class="bold">jQuery</h6>

            <pre class="language-javascript">
                          <p> 
                            $('.container-horizontal').pluss({ 
                              align: 'horizontal',
                              direction: 'tb'
                            });
                         </p>
                        </pre>
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col s4 col m8  offset-m2 center-align">
            <div class="container-horizontal">
                <img  src="../assets//images/img3.jpg" alt="Vichayito-Piura" >
                <img src="../assets//images/img4.jpg" alt="Caravelí-Arequipa">
                <img  src="../assets//images/img5.jpg" alt="Punta Sal" >
                <img  src="../assets//images/img6.jpg" alt="Playa Roja-Paracas" >

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m12  col s12 center-align">
            <button class="btn btn-primary" id="startHorizontal">
              Start
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="../vendors/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
<script src="../examples/examples.js"></script>
<script src="../js/jquery.cardify.js"></script>
</html>