body{
    margin:0;
}
.content{
    width:1000px;
    margin-top:50px;
    min-height:600px;
    background:#fff;
    margin:0 auto;
    padding:20px;
}

.imagenes {
    border: 3px solid #eee;
    float: left;
    height: 240px;
    margin: 0 9px 9px 0;
    overflow: hidden;
    position: relative;
    width: 310px;
}
.imagenes:hover {
    border: 3px solid #81d7;
}
.imagenes a {
    display: block;
    position: relative;
}
.imagenes a img {
    height: 280px;
    left: -20px;
    position: relative;
    top: -20px;
    width: 350px;
}

.imagenes .negro {
    display: none;
    font-size: 2.3em;
    font-weight: bold;
    height: 100%;
    padding-top: 120px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
    transition:0.2s;
}
.imagenes .negro em {
    display: block;
    font-size: 0.50em;
    font-weight: normal;
}
