body{
    margin:0;
}
.content{
    width:1000px;
    margin-top:50px;
    min-height:600px;
    background:#fff;
    margin:0 auto;
    padding:20px;
}

.gepic {
    border: 3px solid #eee;
    float: left;
    height: 240px;
    margin: 0 9px 9px 0;
    overflow: hidden;
    position: relative;
    width: 310px;
}
.gepic:hover {
    border: 3px solid #81d7;
}
.gepic a {
    display: block;
    position: relative;
}
.gepic a img {
    height: 280px;
    left: -20px;
    position: relative;
    top: -20px;
    width: 350px;
}

.gepic .negro {
    display: none;
    font-size: 2.3em;
    font-weight: bold;
    height: 100%;
    padding-top: 100px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
    transition:0.2s;
}
.gepic .negro em {
    display: block;
    font-size: 1em;
    font-weight: bold;
}

#caption{
    display: block;
    position: absolute;
    top:0;
}