<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plugin</title>
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">  
</head>
<body>
    <header class="nav-wrapper">
            <nav class="fixed-cont">
              <div class="nav-wrapper">
                <a href="#" class="brand-logo">Cardify</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="#cardify">¿Que es cardify</a></li>
                  <li><a href="#utilizar">Como utlizar</a></li>
                  <li><a href="collapsible.html">Documentación</a></li>
                  <li><a href="">Ejemplos</a></li>
                </ul>
              </div>
            </nav>
    </header>
    <section>
      <div class="back-img">
          <div class="opacity">
          <div class="container text">
            <h3>Haz mas y escribe menos</h3>
            
          </div>
          </div>
      </div>
      
    </section>
    <section>
    <div class="container cont-section">
      <div id="cardify"><h5>¿Que es cardify</h5></div>
      <div>
        <p><strong>Cardify</strong> es un complemento de Javascript que le permite crear una barra de progreso utilizando sus propias imágenes.</p>
        <p>- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam dolore quos nisi maiores minima 
          tempore error voluptatibus ducimus. Accusantium odit, ipsum voluptates a ut quis minima libero pariatur
           enim corporis!</p>
        <p>- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, laudantium ab praesentium voluptatem 
          libero quasi maxime eaque deserunt sed excepturi quis voluptate hic error quibusdam provident aut dolores
           numquam nobis.</p>
      </div>
    </div>
    </section>
    <section>
      <div class="container cont-section" >
        <div id="utilizar"><h5>Como utilizar cardify</h5></div>
        <div>
          <p>Si está utilizando jQuery , debe incluirlo ANTES de usar este complemento. Funciona con jQuery> =  <strong>3.2.1.</strong></p>
        </div>
      </div>
    </section>
    <section>
        <div class="container cont-section" >
          <div id="utilizar"><h5>Documentación</h5></div>
        </div>
    </section>
    <section>
        <div class="container cont-section" >
          <div id="utilizar"><h5>Ejemplos</h5></div>
        </div>
    </section>


 
  <!-- Materialize  Jquery JavaScript -->
  <script src="vendors/js/jquery-3.2.1.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/prueba.js"></script>
</body>

</html>